@model DatabaseFirst.Models.SanPham
@{
    ViewData["Title"] = "Delete SanPham";
}
<h1>Delete SanPham</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.MaSanPham - @Model.TenSanPham</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>