@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header class="topnav" role="banner">
    <div class="topnav-inner">
        <button id="menuToggle" class="menu-toggle" aria-controls="leftMenu" aria-expanded="true" title="Toggle menu">
            (CM)
        </button>

        <a class="brand" href="/">My App</a>

        <div class="topnav-actions">
            <a href="/Account" class="action">Account</a>
        </div>
    </div>
</header>
